@import "../../Colors.scss";

@keyframes slide-bottom {
  0% {
    transform: translateY(-2em);
  }
  100% {
    transform: translateY(0);
  }
}
.entry--fresh {
  animation: slide-bottom 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.entry {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  transition: all 0.2s;
  border-color: #eee;
  border-radius: 5px;
  p {
    word-break: break-all;
  }
  &--expanded {
    @include box_shadow(1);
    padding: 1em;
    margin-left: -1em;
  }
}
.btn-icon {
  font-size: 1.5em;
  &:hover {
    background-color: #eee;
  }
}
