@import "../../Colors.scss";

.landing-page {
  .container {
    margin-top: 4em;
    margin-bottom: 4em;
  }
}
.masthead {
  margin-top: 8em;
  margin-bottom: 12em;
}
.masthead-landing {
  padding-top: 8em;
  padding-bottom: 12em;
  margin: 0;
  color: white;
  background-position: center;
  background-size: cover;
  background-image: url(https://images.unsplash.com/photo-1554176259-aa961fc32671?ixlib=rb-1.2.1&auto=format&fit=crop&w=1900&q=80);
}
.example {
  background-color: $nord6;
  padding: 2em 1em;
  border-radius: 1em;
}
.section {
  padding-top: 4em;
  padding-bottom: 4em;
}
.section-dark {
  background: $nord6;
}
.section-dark-2 {
  background: rgb(244, 246, 249);
}
.landing-doers {
  padding: 2em 0;
  background-position: center;
  background-size: cover;
  background-image: url(https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
}
.landing-doers-box {
  padding: 4em 2em;
  h1 {
    margin-bottom: 0.8em;
  }
}
.card-2 {
  margin-top: 4em;
}
.card-3 {
  margin-top: 8em;
}
.bhaMRn {
  fill: rgb(244, 246, 249);
  transition: fill 400ms ease-in-out 0s;
}
.crfQos {
  fill: rgb(247, 249, 251);
  transition: fill 400ms ease-in-out 0s;
}
.jsDSRA {
  fill: rgb(251, 251, 252);
  transition: fill 400ms ease-in-out 0s;
}
